absl-py==2.1.0
attrs==24.2.0
blinker==1.9.0
cffi==1.17.1
click==8.1.7
contourpy==1.3.0
cycler==0.12.1
dbus-python==1.2.18
distlib==0.3.2
distro==1.5.0
filelock==3.7.1
Flask==3.1.0
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.55.0
gpg==1.15.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
isc==2.0
itsdangerous==2.2.0
jax==0.4.30
jaxlib==0.4.30
Jinja2==3.1.4
kiwisolver==1.4.7
libcomps==0.1.18
lxml==4.6.5
MarkupSafe==3.0.2
matplotlib==3.9.2
mediapipe==0.10.18
mercurial==6.1.4
ml_dtypes==0.5.0
nftables==0.1
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opt_einsum==3.4.0
packaging==20.9
pandas
perf==0.1
pillow==11.0.0
platformdirs==2.5.4
ply==3.11
protobuf==4.25.5
pycparser==2.22
PyGObject==3.40.1
pyparsing==2.4.7
python-dateutil==2.8.1
python-linux-procfs==0.7.3
pyudev==0.22.0
PyYAML==5.4.1
rpm==4.16.1.3
scipy==1.13.1
scikit-learn
selinux==3.6
sentencepiece==0.2.0
sepolicy==3.6
setools==4.4.4
six==1.15.0
sounddevice==0.5.1
systemd-python==234
virtualenv==20.21.1
Werkzeug==3.1.3
zipp==3.21.0
